body {
  background-color: #333;
}

.btn {
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
}

.btn-center {
  display: block;
  margin: 0 auto;
  transition: padding .2s;
}

.btn-disabled {
  opacity: .5;
}

.btn-active {
  cursor: pointer;
}

.btn-center:hover {
  padding: 8px 24px;
}